.form-control {
  background: rgb(245, 245, 245);
  color: #000000;
border-radius: 0.6rem;
box-shadow: 0 4px 4px 0 rgb(194, 214, 252);
  border: 0.001rem solid rgb(156, 191, 255);
  outline: 1px;
  padding: 22px 18px;
  font-size: 15px;
}

label {
  text-transform: uppercase;
  font-size: 0.9rem;
  letter-spacing: 1.5px;
  margin-left: 15px;
}
