#paperForm{
    margin-top: 2vh;
    display: 'flex';
    flex-direction: 'column';
    align-items: 'center'
}

#avatar{
    margin: 1vh;
    background-color: #3D5AFE,
}
#agentRegForm{
    width: '100%';
    margin-top: 3vh
}
#agentRegSubmit{
    margin-top: 1vh;
    margin-right: 2vw;
    margin-bottom: 1vh;
}