.footer-section-main {
    /* position: fixed; */
    bottom: 0;
    margin: 0;
    position: relative;
    padding: 0;
    width: 100%;
    height: 35vh;
    /* background: #5b6467;
    background-image: linear-gradient(315deg, #5b6467 0%, #8b939a 74%); */
    background-color: #4d4855;
    background-image: linear-gradient(180deg, #4d4855 0%, #000000 95%);
}

.footer-main {
    display: flex;
    flex-direction: column;
    color: #ffffff;
}

.footer-main-part-one {
    margin: 0;
    padding-top: 20px;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.footer-link-row {
    display: flex;
    width: calc(100% * (1/3));
    justify-content: center;
    flex-direction: column;
}

.footer-link-header {
    display: flex;
    text-align: center;
    justify-content: center;
}

.footer-link-header h1 {
    font-size: 18px;
}

.footer-links {
    text-align: center;
}

.footer-links ul {
    list-style: none;
    padding: 0px;
}

.footer-links li {
    font-size: 13px;
}

.footer-main-part-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-main-part-two-1 {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.footer-part-two-items {
    padding-left: 20px;
    padding-right: 20px;
}

.footer-part-two-items h4 {
    font-size: 12px;
    text-align: center;
}

.footer-main-part-two-2 {
    text-align: center;
}

.footer-main-part-two-2 h4 {
    margin: 0;
    font-size: 13px;
}