.section-two-main {
    width: 100%;
    height: 400px;
    padding-top: 0px;
    position: relative;
}

.section-two-parts {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.section-part-1 {
    width: 50%;
    padding-top: 30px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-part-1 img {
    width: 350px;
    height: 350px;
    opacity: 0.8;
}

.section-part-2 {
    width: 50%;
    padding-top: 30px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.benefits {
    width: fit-content;
    display: flex;
    flex-direction: row;
}

.icon-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.discription-div {
    padding-left: 20px;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}