.appBar {
    padding: 8px;
    border-bottom: 1px solid,
    
}

.toolbar{
    flex-wrap: wrap,
}

.toolbarTitle{
    flex-grow: 1,
}

.link{
    margin-top: 1vh;
    margin-bottom: 1vh;
    padding-left: 1vw;
    padding-right: 1vw;
}