.c-main {
    display: flex;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 430px;
    box-shadow: inset 0px 0px 8px #c7c7c7;
    overflow: hidden;
}

.ccBgImage {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    z-index: -1;
}

img {
    height: 400px;
    width: 700px;
    opacity: 0.5;
}

.cc-body {
    display: flex;
    flex-direction: column;
}

.cc-body h1 {
    font-family: sans-serif;
    font-size: 40px;
    font-weight: 500;
}

.cc-input-fields {
    padding-bottom: 15px;
}

.cc-convert {
    display: flex;
    flex-direction: row;
}

.coutinue-btn-div {
    padding-left: 20px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.coutinue-btn {
    border: 1px solid #3498db;
    background: none;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    margin: 10px;
    height: 60px;
    width: 22ch;
    font-family: sans-serif;
    color: #fff;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}

.coutinue-btn:hover {
    color: #3498db
}

.coutinue-btn::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background: #3498db;
    z-index: -1;
    transition: 0.8s;
    bottom: 0;
    border-radius: 50% 50% 0 0;
    height: 180%;
}

.coutinue-btn:hover::before {
    height: 0%;
}